nav {
    z-index: 1000px;
    background: rgb(31, 41, 55);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(1555px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background: rgba(92, 225, 249, 1);
    color: var(--color-primary);
}

nav a.active {
    color: var(--color-bg-#06b6d4);
    background: var(--color-#06b6d4);
    background-color: #06b6d4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 0.9;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    animation: fade 0.5s ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    animation: fade 0.5s ease-out;
}