nav {
  z-index: 1000;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
    background: none;
  display: flex;
  gap: 2rem; /* Adjust the gap as needed */
  align-items: center;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #06b6d4;
}

nav a.active {
  color: #06b6d4;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-name {
  font-size: 0.9rem; /* Adjust font size as needed */
  margin-top: 0.3rem; /* Adjust spacing as needed */
}

/* Transition styles remain the same */

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 0.9;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  animation: fade 0.5s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  animation: fade 0.5s ease-out;
}
