/* Custom animation class */
@keyframes fadeInImage {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .late-image {
    animation: fadeInImage 1s ease-out 500ms; 
  }
  